__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
.cache/

.oh-capi-xts-config.json
